body {
  background-color: white;
}

.reference{
  width:100%;
  height: auto;
  z-index: -1;
  position: absolute;
  opacity: 0%;
}

h1{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6vw;
  font-weight: bold;
  text-transform: uppercase;
  color: red;
  margin: 0;
  padding: 0;
}

h2{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6vw;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: black;
}

.full_page{
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.content{
  width: 63vw;
  height: 100%;
  position: absolute;
  left: 35vw;
  padding: 10px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.navbar{
  float: left;
  width: 25%;
  height: 100%;
  position: fixed;
  align-items:center;
  background-color: white;
  opacity: 100%;
  text-align: left;
  text-indent: 3vw;
}

.nav_name{
  padding-top: 3vw;
}

.nav_works{
  padding-top: 3.7vw;
  padding-bottom: 0;
}

.nav_sub{
  padding-top: .1vw;
}


a{
  text-decoration: none;
  color: black;
}

a:hover{
  color:gray;
}

.home_img{
  width: 80%;
  height: auto;
  align-self: center;
  float: right;
  margin-top: 30px;
  margin-right: 90px;
}
