body {
  background-color: white;
}

.reference{
  width:100%;
  height: auto;
  z-index: -1;
  position: absolute;
  opacity: 0%;
}

h1{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6vw;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  margin: 0;
  padding: 0;
  cursor: default;
}

h2{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6vw;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: black;
}

.full_page{
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.content{
  display: flex;
  width: 65%;
  flex-direction:row;
  height: 100%;
  position: absolute;
  left: 35vw;
  padding: 10px;
  align-content: space-around;
  justify-content: space-around;
}

.content_header{
  display: flex;
  flex-direction: row;
  width: 88.5%;
  height: 5vw;
  position: absolute;
  border-bottom: .2vw solid black;
  justify-content:center;
  align-content: center;
}

.content_text{
  justify-content: center;
  align-self: flex-end;
  width: 100%;
}

.nts_page{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 5.5vw;
  margin-left: 3vw;
  padding: .3vw;
}

.navbar{
  float: left;
  width: 25vw;
  height: 100%;
  position: fixed;
  align-items:center;
  background-color: white;
  opacity: 100%;
  text-align: left;
  text-indent: 3vw;
}

.nav_name{
  padding-top: 3vw;
}

.nav_works{
  padding-top: 3.7vw;
  padding-bottom: 0;
}

.nav_sub{
  padding-top: .1vw;
}


a{
  text-decoration: none;
  color: black;
}

a:hover{
  color:gray;
}
